html,body{
	padding: 0;
	margin: 0;
	overflow-x:hidden;
	background-color: #666;
	color: black;
	font-size: 17px;
	/*font-family: 'Ranchers', cursive;*/
	font-family: 'Ubuntu', sans-serif;
}

li{
	padding: 5px 0;
}

a{
	color: rgb(0, 32, 249);
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

header{
	background: rgba(0,0,0,0.8);
  height: 49px;
  position: fixed;
  width: 100%;
  z-index: 20;
	border-bottom: 1px solid rgba(36, 55, 77, 0.8);
}
header.main{
  top: 0;
}
header.sub{
	bottom: 0;
}
#main-logo{
	background: rgba(0, 0, 0, 0) url("./../img/logo.png") no-repeat scroll center center / 110px auto;
	display: block;
	height: 45px;
	width: 120px;
  margin: 20px auto;
}
#main-nav {
    position: absolute;
    left: 200px;
    top: 0;
		z-index: 500;
}
#main-nav.sub{
	left: 10px;
}
#main-nav ul{
  list-style: none;
	padding: 0;
	margin: 0;
}
#main-nav ul li.main {
  float: left;
  height: 49px;
  position: relative;
}
#main-nav .item {
		color: white;
    display: block;
    font-weight: 700;
    height: 49px;
    line-height: 49px;
    margin: 0 2px;
    box-sizing: border-box;
    padding: 0 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
#main-nav .top {
		color: white;
    display: block;
    font-weight: 700;
    height: 49px;
    line-height: 49px;
    margin: 0 2px;
    box-sizing: border-box;
    padding: 0 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
#main-nav li ul {
  box-shadow: 0 1px rgba(31, 53, 78, 0.11);
	display: none;
	position: absolute;
	padding: 0;
	list-style: none;
	margin: 0;
	left: -1px;
	width: 200px;
	background: #9e0030;
}
#main-nav li ul li {
	margin: 0;
	padding: 0;
	width: 200px;
	background: #171717;

	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
#main-nav li ul li:nth-child(odd) {

	background: #2f2e2e;
}
#main-nav li ul li a {

	display: block;
	text-decoration: none;
	padding: 10px 3px;
	margin: 0;
	color: white/*#9e9e9e*/;
}
#main-nav li a:hover{
	/*background-color: #666363;*/
	color: rgba(102, 102, 102, 0.55);
}
#main-nav li ul li a:hover {
  background: rgba(102, 102, 102, 0.55);
  color: white;
}
#main-nav .wake {
	  position: relative;
    border-left: 1px solid #dadde0;
    display: block;
    height: 60%;
    margin: 0 13px;
    top: 20%;
}
#footer{
	width: 100%;
	background-color: #666;
	color: #ccc;
  z-index: 100;
}
#footer ul{
	padding: 40px;
	text-align: left;
	margin: 0;
	float: left;
	list-style: none;
}
#footer ul div{
	font-size: 110%;
	text-align: center;
	padding-bottom: 3px;
	color: rgb(128, 128, 128)
}
#footer li{
	font-size: 100%;
	list-style: none;
	cursor: pointer;
	border-bottom: 1px dotted #ccc;
	margin-bottom: 5px;
}
#footer li a{
	display: block;
	text-decoration: none;
	color: rgb(62, 62, 62);
}
#footer li a:hover{
	color: orange;
}
#footer .copy{
	padding: 10px;
	text-align: center;
	clear: both;
}
#container{
  margin-left: 200px;
  min-height: 100%;
  background-color: white;
}
#main-content{/*responsive*/
  width: 100%;
  margin: 0 auto;
  min-height: 100%;
}
#content-title, #youtube{/*responsive*/
  width: 100%;
  font-size: 400%;
  font-weight: bold;
  text-align: center;
  border-bottom: 3px solid rgb(115, 115, 115);
  box-sizing: border-box;
	padding: 20px;
}
#content-title img{
	padding-bottom: 10px;
	padding-top: 30px;
	display: block;

}

.content-body{/*responsive*/
  width: 80%;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
  overflow: hidden;
}
#content-body::after{
  content: "";
  display: block;
  clear: both;
}

#side-bar-container{
  background-color: #666666;
  position: fixed;
	width: 200px;
	/*border-right: 1px solid #ccc;*/
  box-shadow: 2px 0px 5px rgba(60, 60, 60, 0.78);
  box-sizing: border-box;
  left: 0;
  height: 100%;
  overflow: auto;
}
#side-bar-container #page-title{
	color: white; text-align: center;padding: 10px 0;
	font-size: 120%;
	font-weight: bold;
}
#side-bar{/*responsive*/
  background-color: #666666;
}

#content-flow{/*responsive*/

}

.content{
  background-color: white;
  width: 100%;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
}
.content h1{
  font-size: 250%;
  margin: 25px auto;
  margin-top: 15px;
}
.content h2{
  font-size: 180%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.content p{
  margin: 20px auto;
  padding: 0px 10px;
  text-indent: 1.4em;
  line-height: 2em;
}
.content img{
  display: block;
  margin: 20px auto;
}
.content .caption{
  text-align: center;
  font-size: 80%;
  margin-bottom: 20px;
}
.content table{
  margin: 20px auto;
	width: 90%;
}
.content table th{
}
.content table td{
	max-width: 200px;
	padding: 5px;
	word-wrap: break-word;
	text-align: center;
}


.content iframe{
	display: block;
	margin: auto;
}






#spec-blocks{
	display: flex;
	-webkit-flex-direction: row; /* Safari */
  flex-direction:         row;
	-webkit-flex-wrap: wrap; /* Safari */
  flex-wrap:         wrap;
	-webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
	-webkit-align-content: space-between; /* Safari */
  align-content:         space-between;
	-webkit-align-items: baseline; /* Safari */
  align-items:         baseline;
	-webkit-justify-content: center !important; /* Safari */justify-content:center !important;

	width: 100%;
	margin: 30px auto;
}
.spec-block{
	width: 300px;
	background: white;
	border-radius: 5px;

	color: black;
	margin: 10px 20px;
	box-shadow: 3px 3px 10px rgba(0,0,0,0.4);
	padding-bottom: 20px;
	text-decoration: none;
}
.spec-imgarea{
	width: 200px;
	margin: 30px auto;
	margin-top: 0;
	border-radius: 3px;
	height: 200px;
}
.spec-block img{
	margin: auto;
	width: 100%;
}
.spec-imgarea img{
	display: block;
	width: 100%;
	height: 100%;
	margin: auto;
	border: 2px solid rgb(227, 227, 227);
}

.spec-block p{
	margin: 10px auto;
	text-align: center;
	text-indent: 0;
}
.spec-block .achieve{
	margin-bottom: 0;
	font-weight: bold;
	text-shadow: 1px 1px 0 #ccc;
}
.spec-block .more{
	display: block;
	border: 1px solid #00cde8;
	text-align: center;
	border-radius: 20px;
	width: 50%;
	text-decoration: none;
	margin: 20px auto;
	margin-bottom: 0;
	background-color: #00e1ff;
	cursor: pointer;
	color: white;
	padding: 5px;
	font-weight: bold;
	text-decoration: none !important;
}
.spec-title{
	font-size: 150%;
	font-weight: bold;
}
.spectags{
	width: 380px;
	margin: 0px auto;
}
.spectag{
	width: 100px;
	margin-left: 20px;
	text-align: center;
	color: black;
	cursor: pointer;
  float: left;

  background-color: white;
  border-radius: 100%;
}
.spectag a{
	display: block;
	text-decoration: none;
	color: black;
}
.spectag img{
  display: block;
  width: 100px;
  height: 100px;
  margin: 0;
}
.spectag.selected{
  /*background-color: #ccc;*/
	border:3px dashed  #ccc !important;
}

#page-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 100%;
		background-color: rgba(0, 0, 0, 0.49);
}
#page-top a {

    text-decoration: none;
    color: #fff;
    width: 100px;
    text-align: center;
    display: block;
		padding: 10px;
		border: 2px solid #ccc;
}
.team_block{
	width: 80%; display: -webkit-flex;display: -ms-flex;display: flex; margin: auto; min-height: 150px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.team_img_block{
	flex-grow: 1; position: relative;

}
.team_img{padding: 10px;}
.team_img img{display: block; width: 100px; height: 100px;border-radius: 100%;margin: 10px;}
.team_info{margin-left: 30px;flex-grow: 3;display: -webkit-flex;display: -ms-flex;display: flex; flex-direction: column; height: 100%;}
.team_info_name{
	font-size: 150%;
	font-weight: bold;
	padding: 5px;
	text-align: center;
}

#tabs{
	font-family: 'Ubuntu', sans-serif;
}
.tab-content{
	font-size: 140%;
	max-height: 600px;
	overflow: auto;
}
.tab-content img.step{
	display: block;
  width: 90%;
  margin: 20px auto;
}

.tab-content p{
	margin: 50px auto;
}

.tab-content video{
	display: block;
	width: 70%;
	margin: auto;
	border: 2px solid #bcc1b6;

}
#side-bar-container ul{
  padding: 0;
  margin: 0;
  list-style: none;

}
#side-bar-container li{

}
#side-bar-container li a{
  text-decoration: none;
  display: block;
  padding: 10px;
}
